@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #000;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;

}

.title{
    float:right;
    margin-top: 10px;
    margin-left: 50px;
}
.title-card{
    text-align:center;
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 50vh;
    background-image: url(https://i.pinimg.com/originals/72/44/80/724480f261fe705b458be32fb1405ad0.gif);
    background-size: 100%;
    background-position: center;
    
}
.nav{
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}
.nav.active{
    background: #fff;
    padding: 15px;
}
.nav.active .logo,
.nav.active .menu  a{
    color: #000;
}
.nav.active a:hover{
    background: #000;
    color: #fff;
}

.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}
.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 10px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

.container{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    color: #fff;
    padding: 10px;
    float: left;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    background: #CFD8DC;
    color: black;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container  .card img
{
    width: 330px;
    height: 160px;
}

.container   .card img{
    width: 330px;
    height: 160px;
}


.container .card h4{
    font-weight: 600;
}

.container  .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card a {
    font-weight: 16px;
    text-decoration: none;
    color: #3498db;
}

 #modelo{
     margin-top: 20px;
 }
 #componet-picture{
    width: 550px;
    height: 300px;
    border-radius: 8px;
    float: right;
    margin:12px;
 }

.container .main{
    width: 1472px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background: #757575;
   
}

.container  .main img{
    width: 800px;
    height: 400px;
    border-radius: 8px;
}

.container .main h2{
    font-weight: 600;
}

.container .main p{
    text-align: justify;
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;

}

.container .main ul{
    text-align: justify;
    padding: 10px 3rem;
    font-size: 16px;
    font-weight: 300;

}
 /*
 card del container
 */

 .container-cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px 10px 10px;
    float: center;

    padding: 10px;
}

.container-cards .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-cards .card img{
    width: 330px;
    height: 180px;
}


.container-cards .card h4{
    font-weight: 600;
}

.container-cards.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

footer{
    width: 100%;
    height: auto;
    background: #202020;
    color: white;   
    display: flex;
    bottom: 0;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row3{
    margin-top: 20px;
    display: flex;
}

.row3 img{
    width: 36px;
    height: 36px;
}

.row3 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.row1 img{
    width: 100px;
    height:100px;
    border-radius: 150px;
}

.row1 label{
    margin-top: 15px;
    margin-left: 20px;
    max-width: 140px;
}
.row1{
    margin-top: 20px;
    display: flex;
}

